header.header {
    background: var(--white);
    height: 4rem;

    > div {
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;

        nav {
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                gap: 20px;

                li a {
                    text-decoration: none;
                    color: var(--gray-500);
                }
            }
        }
    }
}
